body {
    margin: .5rem;
}
h1 {
    background-color: rgba(91, 164, 206, 0.671);
    text-align: left;
    font-size: 2.5rem;
    color: #fff;
    padding: 1rem;
    text-align: left;
}
h2 {
   font-size: 2.5rem;
   text-align: left;
   background-color:  rgba(91, 164, 206, 0.671);
   color: white;
}

label {
    font-size: 1.5rem;
}

p {
    text-align: left;
}
form {
    text-align: left;
}

form input[type=text] {
    background-color:  rgba(91, 164, 206, 0.671);
    width: 25vw;
    height: 4vh;
    font-size: 1.5rem;
    border: .2rem solid white;
    border-radius: .5rem;
    color: white;
    outline: none;
    cursor: pointer;
}
form input[type=submit] {
    width: 10vw;
    height: 4vh;
    border-radius: .5rem;
    background-color:  rgba(91, 164, 206, 0.671);
    cursor: pointer;
    color: white;
    font-size: .9rem;
    font-weight: bolder;
    border: .2rem solid rgb(61, 58, 58);
    outline:none;
    margin-left: 1rem;
}